@use './theme';

html,
body {
  background-color: theme.$app-background;
  font-weight: theme.$font-weight-defalt;
  font-size: theme.$font-size-default;
  font-family: 'Merriweather', serif;
  color: theme.$black;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  margin-right: calc(-1 * (100vw - 100%));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
