@use '../../../styles/theme';

.dividerContainer {
  display: flex;
  align-items: center;
}

.dividerBottomWhite,
.dividerBottomGrey {
  width: 100%;
  height: 4px;
}

.dividerLine,
.dividerTop,
.dividerBottomWhite,
.dividerBottomGrey {
  flex: 1;
  height: 2px;
}

.dividerTop {
  background-color: theme.$grey;
}

.dividerBottomWhite {
  background-color: theme.$white;
}

.dividerBottomGrey {
  background-color: theme.$background;
}

.dividerText {
  font-size: theme.$font-size-caption;
  margin: 0 5px;
  user-select: none;
}