@use '../styles/theme';

.authContainer,
.mainContainer {
  box-shadow: theme.$box-shadow-outside;
  background-color: theme.$background;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.authContainer {
  width: 374px;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
}

.cursorWait {
  cursor: wait;
}